{% if Frm.areaCosteo() == 'calidad' and Frm.formaEvaluacion() == 'lista_chequeo' %}
    {% for campo in Frm.campos %}
        {% if campo.origenPivote %}
            <TABLE class='table table-condensed' style='width:50%'>
            <TR>
                <TD>Activar columna</TD>
            {% for campoPivote in pivotes[Formularios[0].id][campo.significadoCampo.codigo] %}
                <TD>{{campoPivote.descripcion}}</TD>
            {% endfor %}
            </TR>
            <TR>
                <TD></TD>
            {% for campoPivote in pivotes[Frm.id][campo.significadoCampo.codigo] %}
                <TD><INPUT name='selectorColumna_{{Frm}}' TYPE="radio" data-form = '{{Frm.id}}' class="selectorColumna" value="{{campo.significadoCampo.codigo}}_{{campoPivote.id}}"></TD>
            {% endfor %}
            </TR>
            </TABLE>
        {% endif %}
    {% endfor %}
{% endif %}