{% extends 'GridFormBundle::general_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
       <link rel="stylesheet" href="{{ asset('bundles/gridform/css/tablero-general-calidad.css') }}" type="text/css" media="all" />
       <link rel="stylesheet" href="{{ asset('bundles/indicadores/js/pivotTable/pivot.min.css') }}" type="text/css" media="all" />
       <link rel="stylesheet" href="{{ asset('bundles/indicadores/js/c3/c3.min.css') }}" type="text/css" media="all" />
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/angular-resource.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/ui-bootstrap-tpls-1.3.2.min.js') }}"></script>    
    
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/TableroCalidad/appGeneral.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/TableroCalidad/serviciosGeneral.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/TableroCalidad/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/TableroCalidad/angular-chart.min.js') }}"></script>
    
    <script src="{{ asset('bundles/indicadores/js/pivotTable/pivot.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/pivotTable/pivot.es-sv.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/d3.v3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/c3/c3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/indicadores/js/pivotTable/c3_renderers.min.js') }}" type="text/javascript"></script>

{% endblock %}

{% block content %}
    <div class="btn-toolbar menu" role="toolbar" aria-label="...">
        <div class="btn-group">
            <label class="btn btn-success" title='Configuración' data-toggle="modal" data-target="#modalConfiguracion">
                <span class="glyphicon glyphicon-cog" aria-hidden="true" title="Configuración"></span>
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default" ng-model="filtroIndicador" uib-btn-radio="'hosp'" ng-click="procesar('hosp')">
                <span class="glyphicon glyphicon-ok" aria-hidden="true" title="Hospitales"></span>
                <span class="glyphicon-class">HOSP.</span>
            </label>
            <label class="btn btn-default" ng-model="filtroIndicador" uib-btn-radio="'pna'" ng-click="procesar('pna')">
                <span class="glyphicon glyphicon-ok" aria-hidden="true" title="Primer Nivel de Atención"></span>
                <span class="glyphicon-class">PNA</span>
            </label>
        </div>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#lista_chequeo" aria-controls="lista_chequeo" role="tab" data-toggle="tab" ng-if="indicadores.length > 0">Estándares 1-24</a></li>
        <li role="presentation"><a href="#numericos" aria-controls="numericos" role="tab" data-toggle="tab" ng-if="indicadores2.length > 0">Estándares 25-29</a></li>
        <li role="presentation"><a href="#eval_complementarias" aria-controls="numericos" role="tab" data-toggle="tab" ng-if="evaluaciones_complementarias.nacional.length > 0" >Evaluaciones complementarias</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="lista_chequeo">
            <div class="row row_tablero" ng-if="indicadores.length > 0">
                <DIV class="col-md-6 listado">
                    <div class="panel panel-info panel_" >
                        <div class="panel-heading">
                            <div class="form_row row">
                                <DIV class="col-md-4"><strong>{{'_evaluaciones_'|trans}}</strong></div>
                                <DIV class="col-md-4">
                                    <div class="btn-group">
                                        <label class="btn btn-primary active" ng-model="filtroListadoIndicador" uib-btn-radio="'todos'" ng-change="cambiarGrafico1('todos')">
                                            <!--<span class="glyphicon glyphicon-tasks" aria-hidden="true" title="Todos"></span> -->
                                            Todos
                                        </label>
                                        <label class="btn btn-success" ng-model="filtroListadoIndicador" uib-btn-radio="'+10'" ng-change="cambiarGrafico1('+10')">
                                          +10
                                        </label>
                                        <label class="btn btn-danger" ng-model="filtroListadoIndicador" uib-btn-radio="'-10'" ng-change="cambiarGrafico1('-10')">
                                          -10
                                        </label>
                                    </div>
                                </div>
                                <DIV class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                                        <input type="text" class="form-control" size="10" ng-model="buscar_indicadores" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">                        
                            <table class="table table-hover">
                                <thead>
                                    <TR class="success">
                                        <TH>{{'_estandar_'|trans}}</TH>
                                        <TH>{{'_indicador_'|trans}}</TH>
                                        <TH>{{'_calificacion_'|trans}}</TH>
                                    </TR>
                                </thead>
                                <tbody ng-show="filtroListadoIndicador == 'todos'">
                                    <TR  ng-repeat="ind in indicadores | filter : buscar_indicadores" ng-click="seleccionarIndicador(ind)">
                                        <TD >[[ind.descripcion_estandar]]</TD>
                                        <TD ><B>([[ind.codigo_indicador]])</B> [[ind.descripcion_indicador]]</TD>
                                        <TD style="color:[[ind.color]]">[[ind.calificacion | number:2]]%</TD>
                                    </TR>
                                </tbody>
                                <tbody ng-show="filtroListadoIndicador == '+10'" >
                                    <TR  ng-repeat="ind in indicadoresTop10 " ng-click="seleccionarIndicador(ind)">
                                        <TD >[[ind.descripcion_estandar]]</TD>
                                        <TD >[[ind.descripcion_indicador]]</TD>
                                        <TD style="color:[[ind.color]]">[[ind.calificacion | number:2]]%</TD>
                                    </TR>
                                </tbody>
                                <tbody ng-show="filtroListadoIndicador == '-10'" >
                                    <TR  ng-repeat="ind in indicadoresLess10 " ng-click="seleccionarIndicador(ind)" >
                                        <TD >[[ind.descripcion_estandar]]</TD>
                                        <TD >[[ind.descripcion_indicador]]</TD>
                                        <TD style="color:[[ind.color]]">[[ind.calificacion | number:2]]%</TD>
                                    </TR>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info panel_" >
                        <div class="panel-heading">
                            <strong>[[titulo_grafico1]]</strong>
                        </div>
                        <div class="panel-body" >
                            <canvas id="grafico1" class="chart-bar" chart-options="options_bar_line"
                                chart-data="valorGrp1" chart-labels="labelsGrp1" chart-colors="coloresGrp1"
                                 >
                            </canvas> 
                        </div>                
                    </div>
                </div>
            </div>
            <!-- FILA 2 -->
            <div class="row row_tablero" ng-if="mostrarInfoIndicador">
                <div class="col-md-6 listado">
                    <div class="panel panel-info panel_" >
                        <div class="panel-heading">
                            <div class="form_row row">
                                <DIV class="col-md-4"><strong>{{'_establecimientos_'|trans}}</strong></div>
                                <DIV class="col-md-4">
                                </div>
                                <DIV class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                                        <input type="text" class="form-control" size="10" ng-model="buscar_establecimientos" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <B>[[indicadorSeleccionado.descripcion_indicador]]</B>
                            <table class="table table-hover">
                                <thead>
                                    <TR class="success">
                                        <TH>{{'_establecimiento_'|trans}}</TH>
                                        <TH>{{'_valor_indicador_'|trans}}</TH>
                                        <!--<TH>{{'_valor_indicador_general_'|trans}}</TH> -->
                                    </TR>
                                </thead>
                                <tbody >
                                    <TR  ng-repeat="est in indicadorSeleccionado.evaluacion | filter : buscar_establecimientos" >
                                        <TD >[[est.nombre_establecimiento]]</TD>
                                        <TD style="color:[[est.color]]">[[est.calificacion]]</TD>
                                    </TR>
                                </tbody>                        
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info panel_" >
                        <div class="panel-heading">
                            <strong>[[titulo_grafico2]]</strong>
                        </div>
                        <div class="panel-body" >
                            <canvas id="grafico2" class="chart-bar" chart-options="options_bar_line"
                                chart-data="datosGrafico2" chart-labels="labels" 
                                chart-dataset-override="datasetOverride" >
                            </canvas> 
                        </div>                
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="numericos">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                <input type="text" class="form-control" size="10" ng-model="buscar_indicadores2" >
            </div>
            <div class="row row_tablero" ng-if="indicadores2.length > 0">
                <DIV class="col-md-3" ng-repeat="ind in indicadores2 | filter : buscar_indicadores2">
                    <div class="panel panel-info panel_" >
                        <div class="panel-heading" style="text-align: center; cursor: pointer;" ng-click="detalleArea(ind)">
                            <h3 class="panel-title">[[ind.descripcion_indicador]]</h3>
                        </div>
                        <div class="panel-body">
                            <div class="panel-calificacion" >
                                <span class="ng-scope"  title= "Valor periodo actual" style="color:[[ind.color]]; border: 2px solid [[ind.color]];">[[ind.calificacion]]</span>
                            </div>
                            <canvas title= 'Historial' id="grafico[[ind.codigo_indicador]]" class="chart-bar" style="margin-top: 40px;"
                                chart-data="ind.historial.valores" chart-labels="ind.historial.etiquetas"
                                 >
                            </canvas> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <DIV role="tabpanel" class="tab-pane" id="eval_complementarias">
            <table class="table table-hover" ng-if="evaluaciones_complementarias.nacional.length > 0">
                <caption>Evaluaciones complementarias</caption>
                <thead>
                    <TR class="success">
                        <TH>{{'_tipo_evaluacion_'|trans}}</TH>
                        <TH>{{'_anio_'|trans}}</TH>
                        <TH>{{'_valor_'|trans}}</TH>
                        <TH>{{'_unidad_medida_'|trans}}</TH>
                    </TR>
                </thead>
                <tbody>                                    
                    <TR ng-repeat="eval_ext in evaluaciones_complementarias.nacional">
                        <TD>[[eval_ext.tipo_evaluacion]]</TD>
                        <TD>[[eval_ext.anio]]</TD>
                        <TD>[[eval_ext.valor]]</TD>
                        <TD>[[eval_ext.unidad_medida]]</TD>
                    </TR>
                </tbody>
            </table>
            <DIV id="pivotEvaluacionesComplementarias"></DIV>
        </DIV>
    </div>
    <!-- Modal Configuración -->
    <div class="modal fade" id="modalConfiguracion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title">Configuración</h3>
                </div>
                <div class="modal-body">
                    <strong>{{'_periodo_evaluacion_'|trans}}</strong>
                    <select class="form-control"
                            data-ng-options="periodo as periodo.etiqueta for periodo in periodos track by periodo.periodo"
                            ng-model="periodoSeleccionado" required id='selectPeriodo'
                            ng-change="cambiar_periodo()">
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="modalDetalleIndicador" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header" style="background-color: #337AB7; color:white;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">[[detalleIndicador.descripcion_indicador]] <span>([[periodoDetalle]])</span></h3>
                </div>
                <div class="modal-body">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-success" ng-click="tablaDetalle()">[[periodoSeleccionado.etiqueta]]</button>
                        <button type="button" id='export_grp' class="btn btn-success" title="{{'_historial_establecimiento_'|trans}}" ng-click="tablaHistorial()"><span class="glyphicon glyphicon-calendar"></span></button> 
                    </div>
                    <DIV id="pivotDetalleIndicador"></DIV>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <p id='loading' class="text-center text-muted" if-loading>
        <img src='{{ asset('bundles/gridform/images/loading.gif') }}' class='ajax-loader'>
    </p>
{% endblock content%}
