{% extends 'GridFormBundle::standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .panel_{
            height: 350px !important;
            border: 1 solid red;
        }
        .glyphicon-off, .fa-user, .fa-caret-down, .glyphicon-th-list{
            color: #FF7722;
        }
        TR{
            cursor: pointer;
        }
        .main-header{
            position: fixed;
            width: 100%;
            background-color: #5D5D5D !important;
        }
        .content-wrapper{
            padding-top: 30px;
        }
        .titulo_{
            color: white;
            font-weight: bolder;
            font-size: 18pt;
        }
        .content-wrapper, .right-side {
            background-color: white !important;
        }        
        .axis path, .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
          }

          .bar {
            fill: #33B3EE;
          }

          .bar:hover {
            fill: #CCECFA ;
          }

          .x.axis path {
            display: none;
          }

          .d3-tip {
            line-height: 1;
            font-weight: bold;
            padding: 12px;
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            border-radius: 2px;
          }

          /* Creates a small triangle extender for the tooltip */
          .d3-tip:after {
            box-sizing: border-box;
            display: inline;
            font-size: 10px;
            width: 100%;
            line-height: 1;
            color: rgba(0, 0, 0, 0.8);
            content: "\25BC";
            position: absolute;
            text-align: center;
          }

          /* Style northward tooltips differently */
          .d3-tip.n:after {
            margin: -1px 0 0 0;
            top: 100%;
            left: 0;
          }
        DIV.row_tablero {
            height: 350px !important;
        }
        .listado .panel-body{
            max-height: 290px !important;
            overflow-y: auto;
        }
        .separador {
            background-color: #D6D6D6;
        }
        .indentacion_1 {
            padding-left: 20px !important;
        }
        .indentacion_2 {
            padding-left: 40px !important;
        }
        .indentacion_2 {
            padding-left: 60px !important;
        }
        .encabezado_tabla{
            background-color: #88B6D9;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/indicadores/js/d3.v3.min.js') }}" ></script>
    <!--<script type="text/javascript" src="{{ asset('bundles/indicadores/js/topojson.v1.min.js') }}" ></script> -->

    <script type="text/javascript" src="{{ asset('bundles/gridform/js/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/d3tip.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/angular-resource.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/gridform/js/TableroCalidad/barchart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/TableroCalidad/radarchart.js') }}"></script>
    
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/TableroCalidad/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/TableroCalidad/servicios.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/TableroCalidad/barchartComponent.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/TableroCalidad/radarchartComponent.js') }}"></script>
    

{% endblock %}

{% block content %}
    <div >
        <div class="row row_tablero" >
            <DIV class="col-md-6 listado">
                <div class="panel panel-info panel_" >
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <div class="form_row row">
                            <div class="col-md-4">
                                <strong>{{'_periodo_evaluacion_'|trans}}</strong>
                                <select class="form-control"
                                        data-ng-options="periodo as periodo.etiqueta for periodo in periodos track by periodo.periodo"
                                        ng-model="periodoSeleccionado" ng-change="getEstablecimientos(periodoSeleccionado)" required >
                                </select>
                            </div>
                            <div class="col-md-4">
                                <!--
                                <button ng-click="update()" class="btn btn-success">+10</button>
                                <button ng-click="update()" class="btn btn-danger">-10</button>
                                <button ng-click="update()" class="btn btn-primary">{{'_todos_'|trans}}</button> -->
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                                    <input type="text" class="form-control" size="10" ng-model="buscar" >
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-warning" role="alert" ng-show="!establecimientos.length">{{'_no_hay_datos_mostrar_'|trans}}</div>
                        <table class="table table-hover" ng-show="establecimientos.length" >
                            <thead>
                                <TR>
                                    <TD>{{'_establecimiento_'|trans}}</TD>
                                    <TD>{{'_cumplimiento_'|trans}}</TD>
                                    <TD>{{'_evaluaciones_complementarias_'|trans}}</TD>
                                </TR>
                            </thead>
                            <tbody>
                                <TR  ng-repeat="est in establecimientos | filter : buscar"   >
                                    <TD ng-click="getEvaluaciones(est)">[[est.nombre]]</TD>
                                    <TD ng-click="getEvaluaciones(est)">[[est.total_cumplimiento]]/[[est.total_aplicable]] = [[est.measure]]%</TD>
                                    <TD><span ng-if="est.evaluaciones_externas.length > 0 " style="float:right; cursor: pointer;" class="glyphicon glyphicon-th-list" aria-hidden="true" 
                                            ng-click="mostrarEvaluacionesComplementarias(est)">
                                        </span>
                                    </TD>
                                </TR>
                            </tbody>
                        </table>                        
                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-info panel_" >
                    <div class="panel-heading">
                        <strong>[[titulo_grafico1]]</strong>
                    </div>
                    <div class="panel-body">
                        <bar-chart height="options.height" data="datosGrafico1" ></bar-chart>
                    </div>
                </div>
            </div>
        </div>
        <!-- segunda fila -->
        <div class="row row_tablero" ng-show="evaluaciones.length">
            <DIV class="col-md-6 listado" id="evaluacionesList">
                <div class="panel panel-info panel_" >
                    <div class="panel-heading">
                        <div class="form_row row">
                            <DIV class="col-md-4"><strong>{{'_evaluaciones_'|trans}}</strong></div>
                            <DIV class="col-md-4"></div>
                            <DIV class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                                    <input type="text" class="form-control" size="10" ng-model="buscar_evaluaciones" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-warning" role="alert" ng-show="!evaluaciones.length">{{'_no_hay_datos_mostrar_'|trans}}</div>
                        <table class="table table-hover" ng-show="evaluaciones.length">
                            <thead>
                                <TR class="success">
                                    <TH>{{'_estandar_'|trans}}</TH>
                                    <TH>{{'_calificacion_'|trans}}</TH>
                                    <TH>{{'_umbral_estandar_'|trans}}</TH>
                                    <TH>{{'_brecha_'|trans}}</TH>
                                </TR>
                            </thead>
                            <tbody>
                                <TR  ng-repeat="eval in evaluaciones | filter : buscar_evaluaciones" ng-click="getCriterios(eval)">
                                    <TD >[[eval.descripcion]]</TD>
                                    
                                    <TD ng-if="eval.tipo_evaluacion == 'lista_chequeo'">[[eval.total_cumplimiento]]/[[eval.total_aplicable]] = [[eval.measure | number:2]]%</TD>
                                    <TD ng-if="eval.tipo_evaluacion == 'lista_chequeo'">[[eval.meta*100 | number:2 ]]%</TD>
                                    <TD ng-if="eval.tipo_evaluacion == 'lista_chequeo'">[[eval.brecha*100 | number:2 ]]%</TD>
                                </TR>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-info panel_" >
                    <div class="panel-body">
                        <div style="font-weight: bold; float:left;  background-color: #02A1B1">{{'_calificacion_'|trans}}</div>
                        <div style="font-weight: bold; float:left; background-color: #C13D4A">{{'_estandar_'|trans}}</div>
                        <radar-chart data="datosGrafico2" ></radar-chart>
                    </div>
                </div>
            </div>
        </div>
        <!-- tercera fila -->
        <div class="row" ng-show="criterios.length"  >
            <DIV class="col-md-12">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="form_row row">
                            <DIV class="col-md-8"><strong>[[evaluacionSeleccionada.descripcion]]</strong></div>
                            <DIV class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                                    <input type="text" id="criteriosList" class="form-control" size="30" ng-model="buscar_criterios" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-warning" role="alert" ng-show="!criterios.length">{{'_no_hay_datos_mostrar_'|trans}}</div>
                        <TABLE CLASS="table table-hover" ng-repeat='Formulario in criterios'>
                            <THEAD ng-if="criterios.length > 1">
                                <tr class="encabezado_tabla"><td>[[Formulario.descripcion]]</TD></tr>
                            </thead>
                            <TBODY>
                                <TR  class="fila_criterios" ng-repeat="criterio in Formulario.criterios | filter : buscar_criterios" >
                                    <TD class="separador indentacion_[[criterio.nivel_indentacion]]"
                                        ng-if="criterio.es_separador == 'true'" colspan="20" >
                                        [[criterio.descripcion_variable]]
                                    </TD>
                                    <TD class="indentacion_[[criterio.nivel_indentacion]]" ng-if="criterio.es_separador != 'true'" >
                                        [[criterio.descripcion_variable]]
                                    </TD>                                    
                                    <TD ng-if="criterio.es_separador != 'true' "
                                        ng-repeat="exp in getExpedientes(criterio)"
                                        >
                                        <button class="btn btn-success" ng-if="getValorExpediente(exp)=='true'">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-danger" ng-if="getValorExpediente(exp)=='false' || getValorExpediente(exp)==''">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                        <span ng-if="getValorExpediente(exp) != 'false' && getValorExpediente(exp) != 'true'">[[getValorExpediente(exp)]]</span>
                                    </TD>
                                </TR>
                            </tbody>
                        </TABLE>
                    </div>


                </div>
            </div>
        </div>
        <!-- Modal Configuración -->
        <div class="modal fade" id="modalEvaluacionesComplementarias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h3 class="modal-title">Evaluaciones complementarias</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover" >
                            <caption><B>[[establecimientoEvalExt.nombre]] :: Evaluación de estándares de calidad: [[establecimientoEvalExt.measure]]%</B></caption>
                            <thead>
                                <TR class="success">
                                    <TH>{{'_categoria_'|trans}}</TH>
                                    <TH>{{'_tipo_evaluacion_'|trans}}</TH>
                                    <TH>{{'_anio_'|trans}}</TH>
                                    <TH>{{'_valor_'|trans}}</TH>
                                    <TH>{{'_unidad_medida_'|trans}}</TH>
                                </TR>
                            </thead>
                            <tbody>                                    
                                <TR ng-repeat="eval_ext in establecimientoEvalExt.evaluaciones_externas">
                                    <TD>[[eval_ext.categoria]]</TD>
                                    <TD>[[eval_ext.tipo_evaluacion]]</TD>
                                    <TD>[[eval_ext.anio]]</TD>
                                    <TD>[[eval_ext.valor]]</TD>
                                    <TD>[[eval_ext.unidad_medida]]</TD>
                                </TR>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}
