{% extends 'GridFormBundle::general_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
       <link rel="stylesheet" href="{{ asset('bundles/gridform/css/tablero-general-calidad.css') }}" type="text/css" media="all" />
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/angular.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/angular-resource.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/ui-bootstrap-tpls-1.3.2.min.js') }}"></script>    
    
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/TableroCalidad/appGeneral.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/TableroCalidad/serviciosGeneral.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/TableroCalidad/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gridform/js/TableroCalidad/angular-chart.min.js') }}"></script>
    

{% endblock %}

{% block content %}
    <div class="btn-toolbar menu" role="toolbar" aria-label="...">
        <div class="btn-group">
            <label class="btn btn-success" title='Configuración' data-toggle="modal" data-target="#modalConfiguracion">
                <span class="glyphicon glyphicon-cog" aria-hidden="true" title="Configuración"></span>
            </label>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="filtroIndicador" uib-btn-radio="'todos1'" ng-click='procesar()'>
                <span class="glyphicon glyphicon-tasks" aria-hidden="true" title="Todos los indicadores"></span>
                <span class="glyphicon-class">Todos</span>
            </label>
        </div>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#lista_chequeo" aria-controls="lista_chequeo" role="tab" data-toggle="tab" ng-if="indicadores.length > 0">Estándares 1-24</a></li>
        <li role="presentation"><a href="#numericos" aria-controls="numericos" role="tab" data-toggle="tab" ng-if="indicadores.length > 0">Estándares 25-29</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="lista_chequeo">
            <div class="row row_tablero" ng-if="indicadores.length > 0">
                <DIV class="col-md-6 listado">
                    <div class="panel panel-info panel_" >
                        <div class="panel-heading">
                            <div class="form_row row">
                                <DIV class="col-md-4"><strong>{{'_evaluaciones_'|trans}}</strong></div>
                                <DIV class="col-md-4">
                                    <div class="btn-group">
                                        <label class="btn btn-primary active" ng-model="filtroListadoIndicador" uib-btn-radio="'todos'" ng-change="cambiarGrafico1('todos')">
                                            <!--<span class="glyphicon glyphicon-tasks" aria-hidden="true" title="Todos"></span> -->
                                            Todos
                                        </label>
                                        <label class="btn btn-success" ng-model="filtroListadoIndicador" uib-btn-radio="'+10'" ng-change="cambiarGrafico1('+10')">
                                          +10
                                        </label>
                                        <label class="btn btn-danger" ng-model="filtroListadoIndicador" uib-btn-radio="'-10'" ng-change="cambiarGrafico1('-10')">
                                          -10
                                        </label>
                                    </div>
                                </div>
                                <DIV class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                                        <input type="text" class="form-control" size="10" ng-model="buscar_indicadores" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">                        
                            <table class="table table-hover">
                                <thead>
                                    <TR class="success">
                                        <TH>{{'_estandar_'|trans}}</TH>
                                        <TH>{{'_indicador_'|trans}}</TH>
                                        <TH>{{'_calificacion_'|trans}}</TH>
                                    </TR>
                                </thead>
                                <tbody ng-show="filtroListadoIndicador == 'todos'">
                                    <TR  ng-repeat="ind in indicadores | filter : buscar_indicadores" ng-click="seleccionarIndicador(ind)">
                                        <TD >[[ind.descripcion_estandar]]</TD>
                                        <TD ><B>([[ind.codigo_indicador]])</B> [[ind.descripcion_indicador]]</TD>
                                        <TD>[[ind.calificacion | number:2]]%</TD>
                                    </TR>
                                </tbody>
                                <tbody ng-show="filtroListadoIndicador == '+10'" >
                                    <TR  ng-repeat="ind in indicadoresTop10 " ng-click="seleccionarIndicador(ind)">
                                        <TD >[[ind.descripcion_estandar]]</TD>
                                        <TD >[[ind.descripcion_indicador]]</TD>
                                        <TD>[[ind.calificacion | number:2]]%</TD>
                                    </TR>
                                </tbody>
                                <tbody ng-show="filtroListadoIndicador == '-10'" >
                                    <TR  ng-repeat="ind in indicadoresLess10 " ng-click="seleccionarIndicador(ind)" >
                                        <TD >[[ind.descripcion_estandar]]</TD>
                                        <TD >[[ind.descripcion_indicador]]</TD>
                                        <TD>[[ind.calificacion | number:2]]%</TD>
                                    </TR>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info panel_" >
                        <div class="panel-heading">
                            <strong>[[titulo_grafico1]]</strong>
                        </div>
                        <div class="panel-body" >
                            <canvas id="grafico1" class="chart-bar" chart-options="options_bar_line"
                                chart-data="valorGrp1" chart-labels="labelsGrp1"
                                 >
                            </canvas> 
                        </div>                
                    </div>
                </div>
            </div>
            <!-- FILA 2 -->
            <div class="row row_tablero" ng-if="mostrarInfoIndicador">
                <div class="col-md-6 listado">
                    <div class="panel panel-info panel_" >
                        <div class="panel-heading">
                            <div class="form_row row">
                                <DIV class="col-md-4"><strong>{{'_establecimientos_'|trans}}</strong></div>
                                <DIV class="col-md-4">
                                </div>
                                <DIV class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                                        <input type="text" class="form-control" size="10" ng-model="buscar_establecimientos" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <B>[[indicadorSeleccionado.descripcion_indicador]]</B>
                            <table class="table table-hover">
                                <thead>
                                    <TR class="success">
                                        <TH>{{'_establecimiento_'|trans}}</TH>
                                        <TH>{{'_valor_indicador_'|trans}}</TH>
                                        <!--<TH>{{'_valor_indicador_general_'|trans}}</TH> -->
                                    </TR>
                                </thead>
                                <tbody >
                                    <TR  ng-repeat="est in indicadorSeleccionado.evaluacion | filter : buscar_establecimientos" >
                                        <TD >[[est.nombre_establecimiento]]</TD>
                                        <TD >[[est.calificacion]]</TD>
                                    </TR>
                                </tbody>                        
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info panel_" >
                        <div class="panel-heading">
                            <strong>[[titulo_grafico2]]</strong>
                        </div>
                        <div class="panel-body" >
                            <canvas id="grafico2" class="chart-bar" chart-options="options_bar_line"
                                chart-data="datosGrafico2" chart-labels="labels" chart-colors="colors"
                                chart-dataset-override="datasetOverride" >
                            </canvas> 
                        </div>                
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="numericos">
            <div class="row row_tablero" ng-if="indicadores2.length > 0">
            <DIV class="col-md-6 listado">
                <div class="panel panel-info panel_" >
                    <div class="panel-heading">
                        <div class="form_row row">
                            <DIV class="col-md-4"><strong>{{'_evaluaciones_'|trans}}</strong></div>
                            <DIV class="col-md-4">

                            </div>
                            <DIV class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                                    <input type="text" class="form-control" size="10" ng-model="buscar_indicadores2" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">                        
                        <table class="table table-hover" ng-repeat="ind2 in indicadores2 | filter : buscar_indicadores2">
                            <thead>
                                <TR class="success">
                                    <!--<TH>{{'_estandar_'|trans}}</TH> -->
                                    <TH colspan="2">[[ind2.nombre_indicador]] : [[ind2.valor | number:2]]%</TH>                                
                                </TR>
                            </thead>
                            <tbody ng-show="filtroListadoIndicador == 'todos'">
                                <TR   ng-repeat="area in ind2.datos_area">
                                    <!--<TD >[[ind.descripcion_estandar]]</TD> -->
                                    <TD >[[area.nombre_area]]</TD>
                                    <TD>[[area.valor]]%</TD>
                                </TR>
                            </tbody>                        
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        </div>
    </div>
    <!-- Modal Configuración -->
    <div class="modal fade" id="modalConfiguracion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title">Configuración</h3>
                </div>
                <div class="modal-body">
                    <strong>{{'_periodo_evaluacion_'|trans}}</strong>
                    <select class="form-control"
                            data-ng-options="periodo as periodo.etiqueta for periodo in periodos track by periodo.periodo"
                            ng-model="periodoSeleccionado" required id='selectPeriodo'
                            ng-change="cambiar_periodo()">
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <p id='loading' class="text-center text-muted" if-loading>
        <img src='{{ asset('bundles/gridform/images/loading.gif') }}' class='ajax-loader'>
    </p>
{% endblock content%}
