<ul class="nav nav-tabs" id="myTab">
    <li  {% if app.user.username == 'externo' %}class= 'active'{% endif %}><a href="#sala">{{'_graficos_'|trans}}</a></li>    
    {% if app.user.username != 'externo' %}
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {{'_salas_'|trans|capitalize}}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#opciones_sala">{{'_listado_salas_'|trans|capitalize}}</a></li>
                <li><a href="#social">{{"_social_"|trans}}</a></li>
                <li><a href="#acciones_sala_datos">{{"_sala_acciones_"|trans}}</a></li>
            </ul>
        </li>
        <li class="active"><a href="#listado_indicadores">{{"indicadores"|trans}}</a></li>
    {% endif %}
</ul>