{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/indicadores/css/custom_layout.css') }}" type="text/css" media="all" />
    {% if logo == 1 %}
        <link rel="stylesheet" href="{{ asset('bundles/indicadores/css/custom_layout_2.css') }}" type="text/css" media="all" />
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/indicadores/js/notify.min.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% include (['IndicadoresBundle::messages_js.html.twig']|join) %}
{% endblock %}
{% block sonata_head_title %}
    eTAB
{% endblock %}
{% block body_attributes %}class="sonata-bc sidebar-collapse"{% endblock %}
{% block sonata_breadcrumb %}{% endblock %}

{% block sonata_top_nav_menu %}
    {% if app.security.token %}
        {{ knp_menu_render('sonata_admin_sidebar', {template: admin_pool.getTemplate('knp_menu_template')}) }}
    {% endif %}
    <div class="navbar-custom-menu">        
        <ul class="nav navbar-nav">
            {#<li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                {% include admin_pool.getTemplate('add_block') %}
            </li>#}
            <li class="dropdown user-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    {% if app.user != '' %}
                        {% include admin_pool.getTemplate('user_block') %}                                            
                        <li><A class="btn btn-flat" href='{{url('fos_user_change_password')}}'>
                               <span class="glyphicon glyphicon-repeat"></span>{{"_cambiar_clave_"|trans}}</A>
                        </li>
                        <li class="divider"></li>
                    {% endif %}                
                {% for locale, lenguaje in {'es_SV':'Español', 'en_US':'English'} %}
                    {% if locale == app.request.locale %}
                        <li class='active'><A href='#'>{{lenguaje}}</a></li>
                    {% else %}
                        <li ><a href='{{url('change_locale',{_locale:locale})}}'>{{lenguaje}}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>            
        </ul>
    </div>    
    <div id="div_cargando" class='affix'>
        <img id="cargador" src="{{ asset('bundles/indicadores/images/ajax-loader.gif') }}"/>
    </div>    
{% endblock %}
