{% extends 'IndicadoresBundle::standard_layout.html.twig' %}
{% set locale = app.request.locale|split('_') %}
{% block stylesheets %}    
    {{ parent() }}
    <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/calidad/vendor/guriddo_jqgrid/css/ui.jqgrid.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/calidad/vendor/guriddo_jqgrid/css/ui.jqgrid-bootstrap.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/calidad/vendor/jqueryui/themes/hot-sneaks/jquery-ui.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/calidad/css/detallePlanMejora.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/gridform/vendor/animate.min.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ app.request.schemeAndHttpHost ~ asset('bundles/calidad/vendor/guriddo_jqgrid/js/jquery.jqGrid.min.js') }}" type="text/javascript"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('bundles/calidad/vendor/guriddo_jqgrid/js/i18n/grid.locale-'~locale[0]~'.js') }}" type="text/javascript"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('bundles/sonataadmin/vendor/jqueryui/ui/i18n/jquery.ui.datepicker-'~locale[0]~'.js') }}" type="text/javascript"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('bundles/calidad/js/detallePlanMejora.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gridform/vendor/bootstrap-notify.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var prioridades = JSON.parse("{{prioridades|escape('js')}}");
        var tiposIntervencion = JSON.parse("{{tiposIntervencion|escape('js')}}");
    </script>
    
{% endblock %}

{% block content %}
    <table id="gridCriterios"></table>
    <div id="pagerGridCriterios"></div>

    <br /><br />

    <div id="detailsPlaceholder">
        <table id="gridActividades"></table>
        <div id="pagerGridActividades"></div>
    </div>
{% endblock %}